<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- [queryParams] is used for setting query parameters ,,,http://localhost:4200/servers/5/edit?allowEdit=1#loading -->
      <a [routerLink]="['/servers',server.id]" [queryParams]="{allowEdit: server.id === 3 ? '1': '0'}"
        fragment="loading" class="list-group-item" *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">

    <!-- Cannot match any routes. URL Segment: 'servers/servers',,,, 'servers' is same as './servers' ,,,'../servers' will result into localhost:4200/servers-->
    <!-- <a routerLink="servers">Reload Servers</a> -->

    <!-- navigating through button and adding relative path to it -->
    <!-- <button class="btn btn-primary" (click)="onReload()">Reload</button> -->

    <!-- <app-edit-server></app-edit-server> -->

    <!-- to provide outlets for child routes of servers component as app comp will provide outlets for high level routes only -->
    <router-outlet></router-outlet>

    <!-- <hr> -->
    <!-- <app-server></app-server> -->
  </div>
</div>
